$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;

$name-color: #333333;
$comment-color: #434a54;
$light-text-color: #999999;
$btn-color: #38aef0;
$white-color: #ffffff;
$light-gray-color: #fafafa;
$gray-color: #d2d2d2;
$dark-blue-color: #253141;
$navy-blue-color: #2f3e51;