$name-color: #333333;
$comment-color: #434a54;
$light-text-color: #999999;
$btn-color: #38aef0;
$white-color: #ffffff;
$light-gray-color: #fafafa;
$gray-color: #d2d2d2;
$dark-blue-color: #253141;
$navy-blue-color: #2f3e51;